.btn-list{
    display: block;
    width: 100%;
    li{
        @media (max-width:767px){
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .btn-primary{
        padding: 8px 50px;
        margin-top: 0;
        @media(max-width:767px){
            padding: 8px 35px;
        }
    }
}
.modal-header{
    border-bottom-color:transparent;
    padding:8px 20px;
}

.modal-footer{
    border-top-color: transparent;
    padding: 20px;

    @media (max-width:767px){
        padding:15px;
    }
}
.modal-body{
    padding:8px 20px 30px;
    @media (max-width:767px){
        padding:8px 15px 25px;
    }
    p{
        font-size: 22px;
        text-align: center;
        font-weight: 600;
        @media(max-width:767px){
            font-size: 20px;
        }
    }
}