<div class="breadcrumbs-sec">
    <div class="container">
        <ul class="breadcrubs-list previous-page">
            <li (click)="goBack()">
                <a href="javascript:void(0)" title="Back to previous page">Back to previous page</a>
            </li>
        </ul>
    </div>
</div>
<div class="login-sec safari_only">
    <div class="container">
        <div class="col-sm-12">
            <div class="border-sec form-sec counter-request text-center">
                <div class="content">
                    <h2>Your submission was successful. We’ll contact you once we add the drug or if we have any questions.​
                    </h2>
                    <h2>
                        <strong>Thanks!​</strong>
                    </h2>
                    <button class="btn btn-primary" type="submit" title="OK" (click)="gotoHome()">
                        <span>OK</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>