<span class="favourite-icon" [ngClass]="{'selected' : kolsData?.favourite == true}" title="{{starTitle}}" (click)="addOrRemoveFavouriteKols(kolsData, content)">
    <i class="fa" [ngClass]="{'fa-star' : kolsData?.favourite == true, 'fa-star-o' : kolsData?.favourite == false}"></i>
</span>
<!-- <span class="bookmark-icon favourite-icon" [ngClass]="{'selected' : kolsData?.bookmark == true}" title="{{bookmarkTitle}}" (click)="addOrRemoveBookmarkKols(kolsData)">
    <i class="fa" [ngClass]="{'fa-bookmark' : kolsData?.bookmark == true, 'fa-bookmark-o' : kolsData?.bookmark == false}"></i>
</span> -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3> </h3>
        <button type="button" (click)="d('Cross click')" class="close" data-dismiss="modal">
            <span>
                <img src="./assets/images/cancel.png" alt="cancel img">
            </span>
        </button>
    </div>
    <div class="modal-body modalFavourite">
        <p [innerHTML]="requestText"></p>
    </div>
    <div class="modal-footer">
        <ul class="btn-list list-inline">
            <li *ngIf="isFreeUser"><button class="btn btn-primary" type="submit" title="Request" (click)="requestForKol()">Request</button></li>
            <li *ngIf="isFreeUser"><button class="btn btn-primary" type="reset" title="Cancel" (click)="close()">Cancel</button></li>
            <li *ngIf="!isFreeUser"><button class="btn btn-primary" type="reset" title="Ok" (click)="close()">Ok</button></li>
        </ul>
    </div>
</ng-template>