<!-- menu start -->
<app-home-header></app-home-header>
<!-- menu end -->
<section class="banner-bg">
    <div class="banner-width">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-left">
                        <p>NOW LIVE ON DESKTOP AND MOBILE DEVICES</p>
                        <h2>Omni is here</h2>
                        <h6>Discover the next generation of KOL tracking with Larvol Omni</h6>
                    </div>
                    <div class="btn-wrapper">
                        <a href="javascript:void(0)" [routerLink]="['/signup']">register today<i
                                class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="comp-img">
                        <img src="./assets/images/computer-img.png" alt="Larvol" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->

<section class="leader-sec">
    <div class="container">
        <div class="header">
            <h3>Keep pace with your thought leaders</h3>
            <p>We know how valuable the opinions of KOLs can be. Monitoring KOL activity allows for a better
                understanding of
                how the physician community receives your messages and lets you identify concerns and education
                opportunities.
            </p>
        </div>
        <div class="leader-width">
            <div class="row">
                <div class="col-md-6">
                    <div class="omni-list">
                        <h6 class="title">WHY USE OMNI?</h6>
                        <ul>
                            <li>Never miss an opportunity to engage</li>
                            <li>Improve understanding of KOL activity</li>
                            <li>Collaborate with your team or work individually</li>
                            <li>Intuitive user experience with robust features</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="omni-list">
                        <h6 class="title">COVERAGE INCLUDES</h6>
                        <ul>
                            <li>News: Publications, trial updates, media mentions</li>
                            <li>Events: Upcoming conferences, symposiums, lecture</li>
                            <li>Social Media: Includes tweets and mentions</li>
                            <li>Clinical Trials: Updates associated with your KOLs</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <a href="https://www.larvol.com/larvol-omni">Learn More<i class="fa fa-arrow-circle-right"
                            aria-hidden="true"></i></a>
                </div>
                <div class="bottom-text">
                    <span>or contact us at <a href="mailto:info@larvol.com">info@larvol.com</a></span>
                </div>
            </div>
        </div>

    </div>
</section>

<app-home-footer></app-home-footer>