<div class="breadcrumbs-sec">
    <div class="container">
        <ul class="breadcrubs-list previous-page">
            <li (click)="goBack()">
                <a href="javascript:void(0)" title="Back to previous page">Back to previous page</a>
            </li>
        </ul>
    </div>
</div>
<div class="sec-kols">
    <div class="container">
        <div class="kols-list">
            <div class="trial-block">
                <div class="trial-fixed-block" (window:scroll)="onWindowScroll($event)" (window:resize)="onResize($event)" id="kolInfo" #kolInfo>
                    <h4>
                        <a href="javascript:void(0)">
                            <strong *ngIf="!isFullView">
                                <span *ngIf="trailsData?.study_name">{{trailsData?.study_name}}:</span>
                                <span (click)="openUrl(trailsData?.url)" [innerHTML]="trailsData?.brief_title | trimstr : 190"></span><span *ngIf="trailsData?.brief_title?.length > 180" (click)="expandDetailView()">...</span>
                            </strong>
                            <strong *ngIf="isFullView">
                                <span *ngIf="trailsData?.study_name">{{trailsData?.study_name}}:</span>
                                <span (click)="openUrl(trailsData?.url)" [innerHTML]="trailsData?.brief_title"></span>
                            </strong>
                        </a>
                        <!-- bookmark sec start -->
                        <span class="icon-bookmark" (click)="addToBookmarkTrails()" title="{{getTooltipDataForTrail(trailsData)}}">
                            <i class="fa" [ngClass]="{'fa-bookmark' : trailsData?.is_bookmarked == true, 'fa-bookmark-o' : trailsData?.is_bookmarked == false}"></i>
                        </span>
                        <!-- bookmark sec end-->
                    </h4>
                    <ul class="trial-list trail-status-list">
                        <li *ngIf="trailsData?.phase != 'N/A'">P{{trailsData?.phase}}<span class="separator">|</span></li>
                        <li *ngIf="trailsData?.phase == 'N/A'">P={{trailsData?.phase}}<span class="separator">|</span></li>
                        <li *ngIf="trailsData?.lead_sponsor" [innerHTML]="trailsData?.lead_sponsor"></li>
                        <li *ngIf="trailsData?.enrollment"><span class="separator last-separator">|</span>Enrollment: {{trailsData?.enrollment}}<span class="separator">|</span></li>
                        <li *ngIf="trailsData?.overall_status" [ngClass]="{'font-purple': trailsData?.overall_read_status == 0}"><span class="separator last-separator" *ngIf="!trailsData?.enrollment">|</span>{{trailsData?.overall_status}}</li>
                    </ul>
                    <ul class="trial-list">
                        <li *ngIf="trailsData?.start_date">Initiation: {{trailsData?.start_date | dateformat : 'MM/DD/YYYY'}}<span class="separator">|</span></li>
                        <li *ngIf="trailsData?.study_completion_date">Primary completion: {{trailsData?.study_completion_date | dateformat : 'MM/DD/YYYY'}}<span class="separator">|</span></li>
                        <li *ngIf="trailsData?.primary_completion_date">Completion: {{trailsData?.primary_completion_date | dateformat : 'MM/DD/YYYY'}}</li>
                    </ul>
                </div>
                <div *ngFor="let item of updatedNewsList" class="trail-update-list">
                    <h5>
                        <span class="span-list" *ngIf="item?.phase">{{item?.phase}}<span class="separator">|</span></span>
                        <span class="span-list" *ngIf="item?.enrollment">{{item?.enrollment}}<span class="separator">|</span></span>
                        <span class="span-list" *ngIf="item?.status">{{item?.status}}<span class="separator">|</span></span>
                        <span class="span-list" *ngIf="item?.sponsor">{{item?.sponsor}}<span class="separator">|</span></span>
                        <span [innerHTML]="getSummaryData(item?.summary)" class="span-list"></span>
                    </h5>
                    <div class="heading-list">
                        <span class="font-purple change-heading" *ngFor="let topic of item?.news_topics;let last = last">
                        {{topic?.tag}}
                      </span>
                        <span class="font-purple change-heading" *ngFor="let product of item?.news_products;let last = last">
                          {{getProductName(product?.name)}}
                      </span>
                        <span class="font-purple change-heading" *ngFor="let area of item?.areas;let last = last">
                          {{area?.name}}
                      </span>
                    </div>

                    <h6>{{item?.display_date | timeAgo}}</h6>
                </div>
            </div>
            <div class="has-content" *ngIf="newsData?.length > 0 && isDataLoad && isPageLoad" infiniteScroll (scrolled)="onScroll($event)">
                <div class="news-block" *ngFor="let item of newsData" id="news_{{item?.id}}" [ngClass]="{'new-notification' : item.kol_news_read_status == 0}">
                    <h4>
                        <a href="{{item?.url}}" target="{{item?.target}}" (click)="item.kol_news_read_status = 1">
                            <span class="item-title"><strong [innerHTML]="item?.title"></strong> <span *ngIf="item?.news_sources?.length > 0"> ({{item?.news_sources[0]?.display_name}})</span></span>
                        </a>
                        <a href="javascript:void(0)" class="normal-text">
                            <span class="item-description" *ngIf="item?.summary" [innerHTML]="item?.summary"></span>
                            <span class="tag-list">
                                <span class="font-purple" *ngFor="let topic of item?.news_topics;let last = last">
                                    {{topic?.tag}}
                                    <span *ngIf="!last" class="last-tag"><!----></span>
                            </span>
                            <span class="font-purple" *ngFor="let product of item?.news_products;let last = last">
                                    {{getProductName(product?.name)}}
                                    <span *ngIf="!last" class="last-tag"><!----></span>
                            </span>
                            <span class="font-purple" *ngFor="let institute of item?.companies;let last = last">
                                    {{institute?.name}}
                                    <span *ngIf="!last" class="last-tag"><!----></span>
                            </span>
                            </span>
                        </a>
                        <!--bookmark sec start-->
                        <span class="icon-bookmark" (click)="addNewsItemToBookmark(item)" title="{{getTooltipData(item)}}"><i class="fa" [ngClass]="{'fa-bookmark' : item?.is_bookmark == true, 'fa-bookmark-o' : item?.is_bookmark == false}"></i></span>
                        <!--bookmark sec end-->
                    </h4>
                    <h4 *ngIf="fromBookmark">
                        <span class="tag-list">
                            <span class="font-purple" *ngFor="let kol of item?.kols;let last = last">
                                {{kol?.kapp_full_name}}
                            </span>
                        </span>
                    </h4>
                    <span class="img-sec" *ngIf="item?.images?.original?.length > 0">
                        <img [src]="item?.images?.original[0]" alt="image" (click)="showPopup(item)">
                    </span>
                    <span class="posted-time" *ngIf="item?.display_date">{{item?.display_date | timeAgo}}</span>
                    <div class="action-sec clearfix">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-left">
                                    <li (click)="likeNews(item)" *ngIf="newsSettingsData?.can_like">
                                        <a href="javascript:void(0)" title="Like" class="action-icon">
                                            <i class="fa" [ngClass]="{'fa-thumbs-up': item?.like_enabled == false, 'fa-thumbs-o-up': item?.like_enabled == true}"></i>
                                        </a>
                                        <a class="action-text" [ngClass]="{'primary-color': item?.like_enabled == false}" href="javascript:void(0)">Like</a>
                                    </li>
                                    <li *ngIf="newsSettingsData?.can_comment">
                                        <a href="javascript:void(0)" title="Comment" class="action-icon">
                                            <i class="fa fa-comment-o"></i>
                                        </a>
                                        <a class="action-text" href="javascript:void(0)" (click)="hideShowComment(item);" id={{item?.id}}>Comment</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" title="Share" class="action-icon">
                                            <i class="fa fa-share"></i>
                                        </a>
                                        <a class="action-text" href="javascript:void(0)" (click)="sharePopup(item);">Share</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 text-right">
                                <ul class="list-right">
                                    <li *ngIf="newsSettingsData?.can_like">
                                        <a class="action-text" href="javascript:void(0)" (click)="openLikesList(item)">
                                            <span *ngIf="item?.like_count < 2">{{item?.like_count}} Like</span>
                                            <span *ngIf="item?.like_count > 1">{{item?.like_count}} Likes</span>
                                            <span *ngIf="item?.like_count > 1000">999+ Likes</span>
                                        </a>
                                    </li>
                                    <li *ngIf="newsSettingsData?.can_comment">
                                        <a class="action-text" href="javascript:void(0)" (click)="hideShowComment(item);">
                                            <span *ngIf="item?.comment_count < 2">{{item?.comment_count}} Comment</span>
                                            <span *ngIf="item?.comment_count > 1">{{item?.comment_count}} Comments</span>
                                            <span *ngIf="item?.comment_count > 1000">999+ Comments</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="action-text" href="javascript:void(0)">
                                            <span *ngIf="item?.shared_count < 2">{{item?.shared_count}} Share</span>
                                            <span *ngIf="item?.shared_count > 1">{{item?.shared_count}} Shares</span>
                                            <span *ngIf="item?.shared_count > 1000">999+ Shares</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="comment-sec showComment" *ngIf="item?.isShow">
                        <p class="view-more" *ngIf="item?.settingData?.next_page">View more comments</p>
                        <div class="comment-list">
                            <div class="comment-block" *ngFor="let list of item?.comments">
                                <div class="user-sec" *ngIf="!item?.user?.image_url" [ngClass]="{'img-round-sec' : item?.user?.image_url == null}">
                                    <!-- <img src="../../../assets/images/default-user.png" alt="{{list?.user?.full_name}}"> -->
                                    <span class="text-round">{{getNameInitials(list?.user)}}</span>
                                </div>
                                <div class="user-sec" *ngIf="item?.image_url">
                                    <img [src]="item?.user?.image_url" alt="{{list?.user?.full_name}}">
                                </div>
                                <div class="user-name">
                                    <h4>
                                        <a href="javascript:void(0)">{{list?.user?.full_name}}</a>
                                    </h4>
                                    <p [innerHTML]="list?.comment"></p>
                                </div>
                                <div class="posted-time" *ngIf="item?.display_date">
                                    <span>{{list?.display_date | timeAgo}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="comment-form comment-block">
                            <div class="user-sec" *ngIf="usersData?.image_url">
                                <img [src]="usersData?.image_url" alt="{{KOLsData?.kol_full_name}}">
                            </div>
                            <div class="user-sec" *ngIf="!usersData?.image_url" [ngClass]="{'img-round-sec' : usersData?.image_url == null}">
                                <!-- <img src="../../../assets/images/default-user.png" alt="{{KOLsData?.kol_full_name}}"> -->
                                <span class="text-round">{{getNameInitials(usersData)}}</span>
                            </div>
                            <div class="comment-input user-name">
                                <!-- <input class="form-control" type="text" placeholder="Add a comment" [(ngModel)]="item.commentText" id="myinputtext_{{item.id}}" (focus)="commentFocus($event, item.id)"> -->
                                <div data-placeholder="Add a comment" onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder = this.ph" role="textbox" class="form-control input-tag comment-box single-line comment" [ngClass]="{'is-comment': item.commentText == '' || item.commentText == null}"
                                    contenteditable="true" (focus)="commentFocus($event, item)" (input)="openUserList($event, item)" (textinput)="openUserList($event, item)" id="myinputtext_{{item.id}}" (keydown)="onKeydown($event)">
                                </div>
                                <div class="user-name-popup comment" *ngIf="item?.showUserList && userList?.length > 0 && isShow">
                                    <ul class="comment">
                                        <li class="comment" *ngFor="let list of userList" (click)="selectUserForComment(list, item)">
                                            <span class="profile-img comment" *ngIf="list?.image_url"><img [src]="list?.image_url"></span>
                                            <span class="profile-img comment" *ngIf="!list?.image_url" [ngClass]="{'img-round-sec' : list?.image_url == null}">
                                                    <span class="text-round comment">{{getNameInitials(list)}}</span>
                                            </span>
                                            <span class="profile-name comment">{{list?.first_name}} {{list?.last_name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="posted-time">
                                <span>
                                    <button class="btn btn-primary" type="submit" [disabled]="item?.commentText == ''" (click)="addCommentForNews(item)">Post
                                        <img src="./assets/images/right-arrow.png">
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bouncing-loader" *ngIf="isTrailsLoad">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="no-content" *ngIf="newsData?.length == 0 && isPageLoad && isDataLoad">
                <h3>No related news</h3>
            </div>
        </div>
    </div>
</div>