.sec-kols {
    .container {
        @media(max-width: 767px) {
            padding: 0 5px 0 5px;
        }
    }
    @media(max-width:767px) {
        padding-top: 10px;
    }
}

.kols-info {
    //border-bottom: 2px solid #d7d7d7;
    padding: 10px 0;
    @media (max-width: 767px) {
        padding: 12px 0 12px;
    }
    @media (max-width: 767px) {
        padding: 6px 0 3px;
    }
    .img-sec {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        border: 2px solid #4e2a87;
        // background: #4e2a87;
        position: relative;
        @media(max-width: 991px) {
            width: 85px;
            height: 85px;
            ;
        }
        @media(max-width:767px) {
            margin-bottom: 0px;
            float: none;
            width: 50px;
            height: 50px;
            // margin-left: 12px;
        }
        .text-round {
            color: #fff;
            font-size: 40px;
            background: #4e2a87;
            width: 100%;
            /* height: 100%; */
            text-align: center;
            line-height: 1.2;
            top: 50%;
            transform: translatey(-50%);
            position: absolute;
            @media(max-width: 991px) {
                font-size: 30px;
            }
            @media(max-width:767px) {
                font-size: 20px;
            }
        }
        span {
            display: block;
        }
    }
    .info-sec {
        padding-top: 10px;
        @media(max-width: 767px) {
            padding: 5px 0px 0 0px;
        }
        @media(max-width:567px) {
            padding: 5px 0px 0 5px;
        }
        h3 {
            font-size: 28px;
            font-weight: 400;
            text-transform: capitalize;
            color: #6e7070;
            margin-bottom: 5px;
            line-height: 1.1;
            @media(max-width: 1500px) {
                font-size: 24px;
            }
            @media(max-width:1199px) {
                font-size: 20px;
            }
            @media(max-width:991px) {
                font-size: 20px;
                margin-bottom: 5px;
            }
            @media(max-width:767px) {
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .badge-sec {
        @media(max-width: 767px) {
            // position: absolute;
            // top: -201px;
            // width: 100%;
            // padding-top: 0;
            position: absolute;
            right: -45px;
        }
        @media(max-width:575px) {
            right: 0;
        }
        //   @media(max-width:375px){
        //     top: -182px;
        //   }
        span {
            display: block;
            text-align: center;
            &.favourite-icon {
                color: #6e7070;
                font-size: 30px;
                cursor: pointer;
                -moz-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
                -webkit-transition: all 0.3s ease-out 0s;
                padding-top: 9px;
                @media(max-width: 136px) {
                    margin-right: 10px !important;
                }
                @media(max-width:1199px) {
                    margin-left: 0 !important;
                    margin-right: auto !important;
                }
                @media(max-width:991px) {
                    font-size: 28px;
                    margin-left: -20px !important;
                }
                @media(max-width:767px) {
                    // position: absolute;
                    // right: 10px;
                    // top: -10px;
                    font-size: 20px;
                    margin-left: 4px !important;
                    margin-right: 10px !important;
                }
                @media(max-width:575px) {
                    margin-right: -2rem !important;
                }
                @media(max-width:480px) {
                    margin-right: -1.5rem !important;
                }
                @media(max-width:380px) {
                    margin-right: -0.8rem !important;
                }
                &.selected {
                    color: #f3ba40;
                }
            }
        }
    }
}

.social-list {
    list-style-type: none;
    display: block;
    li {
        display: inline-block;
        margin-right: 22px;
        font-size: 27px;
        color: #6e7070;
        &:last-child {
            margin-right: 0;
        }
        @media(max-width:1199px) {
            font-size: 24px;
        }
        @media(max-width:767px) {
            font-size: 20px;
        }
        @media(max-width:576px) {
            margin-right: 16px;
        }
        @media (max-width:480px) {
            font-size: 16px;
            margin-right: 12px;
        }
        a {
            color: #6e7070;
            display: inline-block;
            &.select {
                color: #4e2a87;
            }
            &.sunshine-icon {
                position: relative;
                width: 22px;
                // height: 35px;
                @media(max-width: 1199px) {
                    width: 20px;
                }
                @media(max-width:767px) {
                    width: 17px;
                }
                @media(max-width:480px) {
                    width: 15px;
                }
                .icon {
                    position: absolute;
                    top: -27px;
                    display: inline-block;
                    width: 22px;
                    @media(max-width: 1500px) {
                        top: -30px;
                    }
                    @media(max-width:1199px) {
                        top: -25px;
                        width: 20px;
                    }
                    @media(max-width:767px) {
                        top: -21px;
                        width: 17px;
                    }
                    @media(max-width:480px) {
                        top: -16px;
                        width: 15px;
                    }
                    // &.icon-sun-hover{
                    //     opacity: 0;
                    // }
                }
                // &:hover{
                //     .icon-sun-hover{
                //         opacity:1;
                //     }
                // }
            }
        }
    }
}

.news-block {
    padding: 15px 10px 0px;
    -webkit-box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);
    margin: 15px 3px 10px;
    position: relative;
    border-radius: 3px;
    &:last-of-type {
        border-bottom: none;
        &:after {
            display: none;
        }
    }
    @media (max-width:767px) {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid #e2e3e5;
        padding: 15px 0px 0;
    }
    &:after {
        @media(max-width: 767px) {
            position: absolute;
            content: '';
            height: 10px;
            width: 100%;
            bottom: 0;
            left: 0;
            background: #e2e3e5;
        }
    }
    &.new-notification {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: '';
        //     width: 8px;
        //     height: 8px;
        //     background: #4e2a87;
        //     border-radius: 50%;
        //     top: 21px;
        //     left: 15px;
        //     @media(max-width: 767px) {
        //         top: 21px;
        //         left: 0px;
        //     }
        // }
        h4 {
            @media(max-width: 576px) {
                margin-bottom: 5px;
            }
            .item-title {
                strong {
                    color: #4e2a87;
                }
            }
        }
        // h4,
        // p {
        //     padding-left: 24px;
        //     @media(max-width: 767px) {
        //         padding-left: 12px;
        //     }
        // }
        // span.posted-time {
        //     padding-left: 26px;
        //     @media(max-width: 767px) {
        //         padding-left: 12px;
        //     }
        // }
    }
    h4 {
        position: relative;
        padding-right: 46px;
        @media(max-width: 767px) {
            padding-right: 30px;
        }
        .icon-bookmark {
            position: absolute;
            font-size: 28px;
            top: -6px;
            right: 6px;
            color: #6e7070;
            cursor: pointer;
            z-index: 99;
            @media(max-width: 1199px) {
                right: 2px;
            }
            @media(max-width:575px) {
                right: 4px;
            }
            &.trial-book {
                right: 20px;
                @media (max-width: 767px) {
                    right: 2px;
                }
            }
            @media(max-width:767px) {
                font-size: 22px;
                top: -2px;
            }
        }
        strong {
            font-weight: 700;
            // @media(max-width:767px){
            //     font-weight: 500;
            // }
        }
        .item-title {
            display: block;
            margin-bottom: 6px;
        }
        .tag-list {
            >span {
                margin-right: 25px;
                position: relative;
                display: inline-block;
                margin-bottom: 3px;
                &:before {
                    position: absolute;
                    width: 6px;
                    content: '';
                    height: 6px;
                    background: #4e2a87;
                    border-radius: 50%;
                    top: 9px;
                    right: -13px;
                    @media(max-width: 767px) {
                        top: 8px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    h4,
    p {
        font-size: 18px;
        color: #000;
        font-weight: 400;
        margin-bottom: 6px;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        @media(max-width: 767px) {
            font-size: 16px;
        }
        @media(max-width:576px) {
            font-size: 15px;
            word-spacing: 0;
            letter-spacing: 0;
        }
        a {
            color: #000;
            white-space: normal;
            span {
                //color: #4e2a87;
                font-size: 18px;
                @media(max-width: 767px) {
                    font-size: 16px;
                }
                @media(max-width:576px) {
                    font-size: 15px;
                }
            }
        }
    }
    .item-description {
        display: block;
        margin-bottom: 6px;
        font-weight: 400;
    }
    .posted-time {
        text-align: left;
        color: #6e7070;
        font-size: 16px;
        // text-transform: lowercase;
        display: block;
        padding-left: 3px;
        @media(max-width: 1199px) {
            font-size: 14px;
        }
    }
    .action-sec {
        margin: 10px 0;
        background: transparent;
        padding: 10px 20px;
        border-top: 1px solid #e5e5e5;
        @media(max-width: 767px) {
            //background: #e5e5e5;
            margin-bottom: 0;
        }
        @media(max-width:576px) {
            padding: 10px;
            margin-top: 6px;
        }
        .list-left {
            @media(max-width: 767px) {
                li {
                    width: 33.33%;
                    margin-left: -4px;
                    margin-right: 0;
                    margin-bottom: 5px;
                    &:nth-of-type(2) {
                        text-align: center;
                    }
                    &:last-child {
                        text-align: right;
                    }
                    &:only-child {
                        text-align: left;
                    }
                }
            }
        }
        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 25px;
            @media(max-width: 576px) {
                margin-right: 25px;
                margin-bottom: 5px;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                .action-icon {
                    color: #4e2a87;
                }
                .action-text {
                    text-decoration: underline !important;
                    color: #4e2a87;
                }
            }
            .action-icon {
                width: 17px;
                height: 17px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-bottom;
                font-size: 18px;
                color: #6e7070;
                &.calendar-icon {
                    font-size: 18px;
                    color: #4e2a87;
                }
                i.fa-thumbs-up {
                    color: #4e2a87;
                }
                @media(max-width:576px) {
                    //    width: 14px;
                    //    height: 14px;
                    margin-right: 6px;
                }
            }
            .action-text {
                color: #6e7070;
                font-size: 16px;
                display: inline-block;
                vertical-align: middle;
                @media(max-width: 767px) {
                    font-size: 14px;
                }
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
    &.event-block {
        h4 {
            padding-right: 72px;
            @media(max-width: 767px) {
                padding-right: 56px;
            }
            strong {
                font-weight: 600;
            }
        }
    }
    .normal-text {
        cursor: default;
    }
}

.trial-block {
    border-bottom: 1px solid #6e7070;
    padding: 20px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    @media(max-width: 767px) {
        padding: 6px 0;
    }
    &::after {
        display: none;
    }
    h4 {
        width: 100%;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
    }
    .trial-list {
        list-style-type: none;
        li {
            display: inline;
            color: #6e7070;
            font-size: 18px;
            position: relative;
            // margin-right: 20px;
            @media(max-width: 767px) {
                font-size: 16px;
            }
            @media(max-width:576px) {
                font-size: 15px;
            }
            // &:after {
            //     position: absolute;
            //     content: '';
            //     width: 1px;
            //     // height: 90%;
            //     height: 22px;
            //     right: -9px;
            //     top: 0px;
            //     background: #6e7070;
            //     @media(max-width: 767px) {
            //         height: 17px;
            //     }
            // }
            .separator {
                font-size: 25px;
                line-height: 1.2;
                font-weight: 200;
                display: inline-block;
                margin: 0px 8px;
                @media(max-width: 575px) {
                    font-size: 20px;
                    margin: 0 3px;
                }
            }
            .last-separator {
                display: inline-block !important;
            }
            &:last-child {
                &:after,
                .separator {
                    display: none;
                }
            }
        }
    }
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.user-sec {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    vertical-align: middle;
    border: 1px solid #4e2a87;
    // @media(max-width:991px){
    //     width: 50px;
    //     height: 50px;
    //     margin-right: 10px;
    // }
    // @media(max-width:767px){
    //     width: 50px;
    //     height: 50px;
    //     margin-right: 10px;
    // }
    @media(max-width: 576px) {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.comment-sec .posted-time {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    text-align: right;
    @media(max-width: 767px) {
        width: 90px;
        font-size: 13px;
        padding-right: 0;
    }
    @media(max-width:576px) {
        float: right;
        font-size: 13px;
        padding-right: 0;
        margin-top: 0px;
        span {
            display: block;
            text-align: center;
        }
    }
}

.comment-block {
    padding: 10px 15px;
    border-bottom: 1px solid #e2e3e5;
    @media(max-width: 767px) {
        padding: 10px 0;
    }
    @media(max-width:576px) {
        padding: 10px 0px 10px 0px;
    }
    .user-sec {
        .text-round {
            font-size: 18px;
            // @media(max-width:991px){
            //     font-size: 20px;
            // }
            @media(max-width: 576px) {
                font-size: 14px;
            }
        }
    }
}

.comment-sec {
    background: #f2f2f2;
    margin-top: -10px;
    border-top: 1px solid #e2e3e5;
    padding: 0px 10px 0;
    >p {
        padding: 0 15px !important;
        font-size: 15px;
        cursor: pointer;
        &:hover {
            color: #4e2a87;
            text-decoration: underline;
        }
    }
    .user-name {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 210px);
        padding-right: 20px;
        position: relative;
        @media(max-width: 767px) {
            width: calc(100% - 150px);
            padding-right: 10px;
        }
        @media(max-width:576px) {
            width: calc(100% - 125px);
            padding-right: 5px;
            //text-align: center;
        }
        h4,
        a {
            text-transform: capitalize;
            color: #000;
            font-weight: 600;
            padding-left: 0;
            font-size: 18px;
            margin-bottom: 1px;
            @media(max-width: 991px) {
                font-size: 16px;
            }
            @media(max-width:767px) {
                font-size: 15px;
            }
            @media(max-width:576px) {
                font-size: 13px;
            }
        }
        p {
            padding-left: 0;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
            word-break: break-all;
            @media (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
    .comment-list {
        max-height: 162px;
        overflow-y: auto;
        @media (max-width: 767px) {
            max-height: 142px;
        }
        @media (max-width:576px) {
            max-height: 267px;
        }
    }
    .comment-input {
        .form-control {
            border-color: #fff;
            height: 43px;
            @media(max-width: 576px) {
                margin-bottom: 6px;
                height: 38px;
            }
        }
    }
    .btn-primary {
        margin-top: 0;
        padding: 8px 30px 8px 24px;
        font-weight: 600;
        font-size: 18px;
        @media(max-width: 767px) {
            padding: 8px 20px;
        }
        img {
            margin-left: 12px;
            @media(max-width: 767px) {
                display: none;
                margin-left: 0;
            }
        }
        &:hover {
            opacity: 0.8;
        }
        @media(max-width:576px) {
            padding: 8px 12px 8px 14px;
            font-size: 15px;
            width: 100%;
        }
    }
    &.hideComment {
        opacity: 0;
        top: -300px;
        transition: all 0.5s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        display: none;
    }
    &.showComment {
        top: 0;
        opacity: 1;
        display: block;
    }
}

.note-icon {
    font-size: 40px;
    width: 65px;
    height: 65px;
    background: #4e2a87;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    padding-left: 4px;
    position: fixed;
    right: 2%;
    z-index: 999;
    bottom: 2%;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
    &:hover {
        box-shadow: 0 7px 11px 0 rgba(78, 42, 135, 0.5), 0 3px 14px 0 rgba(78, 42, 135, 0.2);
    }
    // @media(min-width:1921px){
    //     right: 25%;
    // }
    // @media(max-width:1850px){
    //     right: 19.5%;
    // }
    // @media(max-width:1700px){
    //     right: 16%;
    // }
    // @media(max-width:1500px){
    //     right: 10.5%;
    //     bottom: 10%;
    // }
    // @media(max-width:1365px){
    //     right: 10.5%;
    // }
    // @media(max-width:1199px){
    //     right: 12.5%;
    // }
    @media(max-width:1500px) {
        width: 55px;
        height: 55px;
        line-height: 57px;
        font-size: 30px;
        bottom: 1%;
        right: 1%;
        // right: 17%;
    }
    @media(max-width:576px) {
        font-size: 25px;
        width: 48px;
        height: 48px;
        // right: 22px;
        line-height: 50px;
    }
}

.kols-list {
    padding-bottom: 70px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
    @media (max-width: 767px) {
        padding: 0 10px 30px;
    }
    @media (max-width:576px) {
        padding: 0 10px 0px;
    }
}

.tab-content .trial-block:last-child {
    margin-bottom: 30px;
    @media(max-width: 767px) {
        margin-bottom: 10px;
    }
}

.news-block .img-sec {
    display: block;
    max-width: 600px;
    margin: 20px auto 5px;
    text-align: center;
}

.text-right {
    ul {
        @media(max-width: 991px) {
            text-align: left;
            margin-top: 6px;
        }
        @media(max-width:767px) {
            margin-top: 3px;
        }
    }
}

.list-right {
    li {
        position: relative;
        @media(max-width: 576px) {
            margin-right: 22px;
        }
        // &:after{
        //     position: absolute;
        //     content: '';
        //     width: 6px;
        //     height: 6px;
        //     border-radius: 50%;
        //     background: #6e7070;
        //     right: -15px;
        //     top: 7px;
        //     @media(max-width:576px){
        //         right: -16px;
        //     }
        // }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.action-calendar {
    position: absolute;
    top: 8px;
    font-size: 24px;
    right: 55px;
    @media(max-width: 767px) {
        top: 13px;
        right: 32px;
        font-size: 19px;
    }
}

.twitter-action .text-right ul {
    @media(max-width: 991px) {
        text-align: right;
    }
}

.comment-form {
    @media(max-width: 767px) {
        padding-bottom: 15px;
    }
}

.entity-badge {
    .kol-badge {
        span {
            margin: 0 auto !important;
            display: block !important;
            &.bookmark-icon {
                margin-left: 0;
                padding-top: 2px;
            }
        }
    }
}

.kols-list {
    @media(max-height: 780px) {
        min-height: 460px;
        padding-bottom: 20px;
        .no-content {
            min-height: 240px;
        }
    }
}

.user-name-popup {
    position: absolute;
    width: calc(100% - 20px);
    max-height: 280px;
    overflow-y: auto;
    background: rgba(225, 225, 225, 0.97);
    padding: 5px 15px;
    z-index: 999;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.08);
    border: 1px solid #d5d5d5;
    bottom: 43px;
    @media(max-width: 767px) {
        width: calc(100% - 10px);
    }
    @media(max-width:576px) {
        bottom: 37px;
        width: calc(100% - 5px);
        padding: 5px;
    }
    ul {
        list-style-type: none;
        li {
            padding: 5px 0;
            span {
                display: inline-block;
                vertical-align: middle;
                &.profile-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    vertical-align: middle;
                    border: 1px solid #4e2a87;
                    @media(max-width: 576px) {
                        width: 30px;
                        height: 30px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    font-size: 18px;
                    .text-round {
                        font-size: 18px;
                        // @media(max-width:991px){
                        //     font-size: 20px;
                        // }
                        @media(max-width: 576px) {
                            font-size: 14px;
                        }
                    }
                }
                &.profile-name {
                    width: calc(100% - 40px);
                    padding-left: 15px;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: #000;
                    cursor: pointer;
                    @media(max-width: 767px) {
                        font-size: 14px;
                    }
                    @media(max-width:576px) {
                        font-size: 13px;
                        width: calc(100% - 30px);
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

.name-tag {
    display: inline-block;
    background: rgba(78, 42, 135, 1);
    color: #fff;
    padding: 2px 4px 2px;
    margin-right: 4px;
    width: auto;
    margin-bottom: 4px;
}

.name-tag-new {
    display: inline-block;
    background: rgba(78, 42, 135, 1);
    color: #fff;
    padding: 2px 0px 2px;
    margin-right: 4px;
    width: auto;
    margin-bottom: 4px;
}

[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: grey;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    @media(max-width: 767px) {
        top: 48%;
        -webkit-transform: translateY(-54%);
        transform: translateY(-54%);
    }
}

// [contenteditable]:empty:focus::before {
//     content: "";
// }
[contenteditable="true"].single-line {
    // white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    height: auto;
}

@-moz-document url-prefix() {
    [contenteditable="true"].single-line {
        overflow-x: hidden;
        overflow-y: auto;
    }
    [contenteditable]:empty:before {
        position: relative;
        top: -2px;
        transform: translateY(0%);
    }
}

[contenteditable="true"].single-line br {
    display: none;
}

[contenteditable="true"].single-line * {
    white-space: nowrap;
}

.single-line::-webkit-scrollbar {
    display: none;
}

.no-events-content {
    text-align: center;
    h3 {
        font-weight: 600;
        // margin-top:20px;
        font-size: 18px;
        position: absolute;
        top: 30%;
        left: 30%;
        -webkit-transform: translate(-20%, -50%);
        transform: translate(-20%, -50%);
        @media(max-width: 767px) {
            font-size: 16px;
        }
    }
    span {
        // display: block;
        // text-align: center;
        &.favourite-icon {
            // color: #f3ba40;
            font-size: 22px;
        }
    }
    &.event-large-content {
        h3 {
            font-size: 22px;
            @media(max-width: 991px) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}

[contenteditable="true"].single-line {
    overflow-x: hidden;
    overflow-y: auto;
}

// .single-line::-webkit-scrollbar {
//     display: none;
// }
*[contenteditable] {
    -webkit-user-select: auto !important;
}

.no-content h3 {
    position: absolute;
    top: 7%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    font-size: 28px;
    /* margin-top: -20px; */
    @media(max-width: 767px) {
        font-size: 20px;
    }
}

.conference_tab {
    padding: 15px 0px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #000;
    .title {
        margin-bottom: 15px;
        @media(max-width: 767px) {
            margin-bottom: 10px;
        }
        a {
            font-family: 'San Francisco Text', sans-serif !important;
            font-size: 18px;
            color: #000;
            @media(max-width: 767px) {
                font-size: 16px;
            }
            @media(max-width: 576px) {
                font-size: 15px;
            }
        }
    }
    ul {
        &.date_time {
            float: left;
            width: 100%;
            list-style: none;
            margin-left: -10px;
            margin-bottom: 5px;
            @media(max-width: 576px) {
                margin-bottom: 3px;
            }
            li {
                font-family: 'San Francisco Text', sans-serif !important;
                color: #6e7070;
                font-size: 18px;
                float: left;
                border-right: 1px solid #6e7070;
                padding: 0 10px;
                line-height: 1;
                &:last-child {
                    border: none;
                }
                @media(max-width:767px) {
                    font-size: 16px;
                }
                @media(max-width: 576px) {
                    font-size: 15px;
                }
            }
        }
    }
    ul {
        &.abstracts {
            float: left;
            width: 100%;
            list-style: none;
            margin-left: -10px;
            li {
                font-family: 'San Francisco Text', sans-serif !important;
                color: #6e7070;
                font-size: 16px;
                float: left;
                position: relative;
                padding: 0 10px;
                line-height: 1;
                &:after {
                    position: absolute;
                    content: "";
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background-color: #6e7070;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
                &.updated-date {
                    padding-left: 5px;
                }
            }
        }
    }
    .new-added {
        color: #4e2a87 !important;
        a {
            color: #4e2a87;
        }
    }
    &:last-of-type {
        border-bottom: none;
        &:after {
            display: none;
        }
    }
}
