<div class="breadcrumbs-sec">
    <div class="container">
        <ul class="breadcrubs-list previous-page">
            <li>
                <a href="javascript:void(0)" title="Back to previous page">Back to previous page</a>
            </li>
        </ul>
    </div>
</div>
<div class="sec-kols">
    <div class="container">
        <div class="kols-list sec-write-note">
            <form novalidate>
                <div class="form-group">
                    <textarea placeholder="Write notes here" onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder = this.ph" class="form-control" rows="6" formControlName="content" name="notes"></textarea>
                </div>
                <div class="form-group">
                    <ul class="btn-list list-inline">
                        <li>
                            <button class="btn btn-primary" type="submit" title="Save">
                <span>Save</span>                                
              </button>
                        </li>
                        <li>
                            <button class="btn btn-primary" type="button" title="Cancel">Cancel</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>